.app {
 background-color: white; 

}

h1 {
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: 3rem;
}

#iconsTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#topMenu {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 2rem;
  padding: 2rem;
  background-color: rgb(55, 62, 98) ;
}

#topMenu p {
  margin-top: 0;
  margin-bottom: 5rem;
}
#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 5rem;
  color: rgb(55, 62, 98);
  text-align: center;
}
